<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.appreportesconecta.dao.TT_CitasTelPreMapper">
	
	<select id="listarCitas" parameterType="map"
		resultType="com.appreportesconecta.domain.TT_CitasTelPre">
		
		SELECT
			ASGN.DOCUMENTO
		   ,DE.TM15NDEUOPE
		   ,CO.TM07SCOSDES
		   ,MON.TG01SGENDES AS MONEDADEUDA
		   ,DE.TM15NDEUCAPINI
		   ,REAC.TG01SGENDES AS TG01SGENDES_REACT
		   ,CONT.TG01SGENDES AS TG01SGENDES_CONT
		   ,CASE
				WHEN CONTTIP.TG01SGENDES = 'Contacto Directo' THEN 'CD'
				WHEN CONTTIP.TG01SGENDES = 'Contacto Indirecto' THEN 'CI'
				WHEN CONTTIP.TG01SGENDES = 'No Contacto' THEN 'NC'
				ELSE ''
			END AS TG01SGENDES_TIPCONT_ABR
		   ,ASGN.VSUPERVISOR
		   ,ASGN.VGESTOR
		   ,ASGN.NIVEL
		   ,USUGEST.TM05SUSRNAM AS GESTORGESTION
		   ,ISNULL(TT.TT01SGESOBS, '') AS TT01SGESOBS
		   ,ISNULL(CONTEL.TM09SDTCVAL, '') AS TM09SDTCVAL_TEL
		   ,ISNULL(CAM.TM16SCPNNOM, '') AS NOMCAMPANA
		   ,TT.TT01DGESFEC
		   ,TT.TT01DGESCIT
		   ,ARC.PRIORIDAD AS CALIFICACION
		   ,ROUND(ISNULL(PAGD.TT03NMONTOTOTPAGO, 0), 2) AS TT03NMONTOTOTPAGO_MES
		   ,ISNULL((SELECT
					SITNE.TG01SGENDES AS TG01SGENDES_SIT
				FROM TT_NEGOCIACIONCB AS NEG WITH (NOLOCK)
				INNER JOIN (SELECT
						NRG.TM15NDEUID
					   ,MAX(NRG.TT02DNEGREG) AS TT02DNEGREG_ULT
					FROM TT_NEGOCIACIONCB AS NRG WITH (NOLOCK)
					GROUP BY NRG.TM15NDEUID) AS ULTNEG
					ON NEG.TM15NDEUID = ULTNEG.TM15NDEUID
					AND NEG.TT02DNEGREG = ULTNEG.TT02DNEGREG_ULT
				INNER JOIN TM_GENERALCB AS SITNE WITH (NOLOCK)
					ON SITNE.TG01NGENID = NEG.TG01NNEGSIT
				WHERE NEG.TM15NDEUID = DE.TM15NDEUID
				AND SITNE.TG01SGENNOM IN ('TIP_STNEG_VIG', 'TIP_STNEG_CAN', 'TIP_STNEG_ANU_RNG', 'TIP_STNEG_ANU_RET', 'TIP_STNEG_ANU_RET', 'TIP_STNEG_ANU_VTA'))
			, '') AS TG01SGENDES_SIT_NEG
			, (SELECT
							COUNT(GEST.TT01NGESID) AS INTENSIDAD
						FROM COBTT01 AS GEST WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
						INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
							ON ARC.TG01NGENACCID = GEST.TG01NACCID
							AND ARC.TG01NGENREACID = GEST.TG01NREAID
							AND ARC.TG01NGENCONTID = GEST.TG01NCTCID
						INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
							ON REAC.TG01NGENID = GEST.TG01NREAID
						WHERE GEST.TM08NCLIID = DE.TM08NCLIID
						AND CONVERT(DATE, GEST.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE}
						AND CONVERT(DATE, GEST.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE})
					AS INTENSIDAD
				   ,(SELECT
							COUNT(DISTINCT CONVERT(DATE, GEST.TT01DGESREG)) AS FRECUENCIA
						FROM COBTT01 AS GEST WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
						INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
							ON ARC.TG01NGENACCID = GEST.TG01NACCID
							AND ARC.TG01NGENREACID = GEST.TG01NREAID
							AND ARC.TG01NGENCONTID = GEST.TG01NCTCID
						INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
							ON REAC.TG01NGENID = GEST.TG01NREAID
						WHERE GEST.TM08NCLIID = DE.TM08NCLIID
						AND CONVERT(DATE, GEST.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE}
						AND CONVERT(DATE, GEST.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE})
					AS FRECUENCIA
		FROM TMP_ASIGNACION_MG_CNTSEC AS ASGN WITH (NOLOCK, INDEX ([INDX_TMPASIGNACION_DOC]))
		INNER JOIN TM_DEUDACB AS DE WITH (NOLOCK)
			ON DE.TM15NDEUOPE = ASGN.VOPERACION
		INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
			ON MON.TG01NGENID = DE.TG01NMONID
		INNER JOIN TM_COSECHASCB AS CO WITH (NOLOCK)
			ON CO.TM07NCOSID = DE.TM07NCOSID
		INNER JOIN TT_GESTIONCB AS TT WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
			ON TT.TM08NCLIID = DE.TM08NCLIID
				AND TT.TM15NDEUID = DE.TM15NDEUID
		INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
			ON REAC.TG01NGENID = TT.TG01NREAID
		INNER JOIN TM_GENERALCB AS CONT WITH (NOLOCK)
			ON CONT.TG01NGENID = TT.TG01NCTCID
		INNER JOIN TM_GENERALREFCB AS REFCON WITH (NOLOCK)
			ON REFCON.TG01NGENREF = CONT.TG01NGENID
		INNER JOIN TM_GENERALCB AS CONTTIP WITH (NOLOCK)
			ON CONTTIP.TG01NGENID = REFCON.TG01NGENID
		INNER JOIN TM_USUARIOSC AS USUGEST WITH (NOLOCK)
			ON USUGEST.TM05NUSRID = TT.TM05NUSRREG
		LEFT JOIN TM_CLIENTE_CONTACTOCB AS CONTEL WITH (NOLOCK)
			ON CONTEL.TM09NCLIID = TT.TM09NTELID
		LEFT JOIN TM_CAMPANACB AS CAM WITH (NOLOCK)
			ON CAM.TM16NCPNID = DE.TM16NCPNID
		INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
			ON ARC.TG01NGENACCID = TT.TG01NACCID
				AND ARC.TG01NGENREACID = TT.TG01NREAID
				AND ARC.TG01NGENCONTID = TT.TG01NCTCID
		LEFT JOIN (SELECT
				PAGDEU.TM15NDEUID
			   ,SUM(PAGDEU.TT03NMONTOPAGO) AS TT03NMONTOTOTPAGO
			FROM (SELECT
					D.TM15NDEUID
				   ,CASE
						WHEN MONPAG.TG01SGENNOM = 'TIP_MON_DOL' THEN (PP.TT03NPAGIMP / ISNULL((SELECT
									TC.DCTIPOCAMBIO
								FROM TMP_TIPOCAMBIOSUNAT AS TC WITH (NOLOCK)
								WHERE TC.VANOMES = CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112))
							, 3.2))
						ELSE PP.TT03NPAGIMP
					END TT03NMONTOPAGO
				FROM TM_DEUDACB AS D WITH (NOLOCK)
				INNER JOIN TT_PAGOCB AS PP WITH (NOLOCK)
					ON D.TM15NDEUID = PP.TM15NDEUID
				INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
					ON MON.TG01NGENID = D.TG01NMONID
				INNER JOIN TM_GENERALCB AS MONPAG WITH (NOLOCK)
					ON MONPAG.TG01NGENID = PP.TG01NMONID
				WHERE MON.TG01SGENNOM = 'TIP_MON_SOL'
				AND PP.TG01NPAGEST = 3
				AND CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112) = CONVERT(VARCHAR(6), GETDATE(), 112)
				UNION ALL
				SELECT
					D.TM15NDEUID
				   ,CASE
						WHEN MONPAG.TG01SGENNOM = 'TIP_MON_SOL' THEN (PP.TT03NPAGIMP * ISNULL((SELECT
									TC.DCTIPOCAMBIO
								FROM TMP_TIPOCAMBIOSUNAT AS TC WITH (NOLOCK)
								WHERE TC.VANOMES = CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112))
							, 3.2))
						ELSE PP.TT03NPAGIMP
					END TT03NMONTOPAGO
				FROM TM_DEUDACB AS D WITH (NOLOCK)
				INNER JOIN TT_PAGOCB AS PP WITH (NOLOCK)
					ON D.TM15NDEUID = PP.TM15NDEUID
				INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
					ON MON.TG01NGENID = D.TG01NMONID
				INNER JOIN TM_GENERALCB AS MONPAG WITH (NOLOCK)
					ON MONPAG.TG01NGENID = PP.TG01NMONID
				WHERE MON.TG01SGENNOM = 'TIP_MON_DOL'
				AND CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112) = CONVERT(VARCHAR(6), GETDATE(), 112)
				AND PP.TG01NPAGEST = 3) AS PAGDEU
			GROUP BY PAGDEU.TM15NDEUID) AS PAGD
			ON PAGD.TM15NDEUID = DE.TM15NDEUID
		WHERE REAC.TG01SGENNOM IN ('TIP_REA_CIPRE', 'TIP_REA_CITEL')
		AND DE.TG01NDEUSIT = (SELECT
				TG01NGENID
			FROM TM_GENERALCB
			WHERE TG01SGENNOM = 'TIP_SIT_VIG')
		AND CONVERT(DATE,TT.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE} AND CONVERT(DATE,TT.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE}
		AND  USUGEST.TM05SUSRNAM = #{usuario,jdbcType=VARCHAR} 
	</select>
	
	<select id="listarTodosCitas" parameterType="map"
		resultType="com.appreportesconecta.domain.TT_CitasTelPre">
		
		SELECT
			ASGN.DOCUMENTO
		   ,DE.TM15NDEUOPE
		   ,CO.TM07SCOSDES
		   ,MON.TG01SGENDES AS MONEDADEUDA
		   ,DE.TM15NDEUCAPINI
		   ,REAC.TG01SGENDES AS TG01SGENDES_REACT
		   ,CONT.TG01SGENDES AS TG01SGENDES_CONT
		   ,CASE
				WHEN CONTTIP.TG01SGENDES = 'Contacto Directo' THEN 'CD'
				WHEN CONTTIP.TG01SGENDES = 'Contacto Indirecto' THEN 'CI'
				WHEN CONTTIP.TG01SGENDES = 'No Contacto' THEN 'NC'
				ELSE ''
			END AS TG01SGENDES_TIPCONT_ABR
		   ,ASGN.VSUPERVISOR
		   ,ASGN.VGESTOR
		   ,ASGN.NIVEL
		   ,USUGEST.TM05SUSRNAM AS GESTORGESTION
		   ,ISNULL(TT.TT01SGESOBS, '') AS TT01SGESOBS
		   ,ISNULL(CONTEL.TM09SDTCVAL, '') AS TM09SDTCVAL_TEL
		   ,ISNULL(CAM.TM16SCPNNOM, '') AS NOMCAMPANA
		   ,TT.TT01DGESFEC
		   ,TT.TT01DGESCIT
		   ,ARC.PRIORIDAD AS CALIFICACION
		   ,ROUND(ISNULL(PAGD.TT03NMONTOTOTPAGO, 0), 2) AS TT03NMONTOTOTPAGO_MES
		   ,ISNULL((SELECT
					SITNE.TG01SGENDES AS TG01SGENDES_SIT
				FROM TT_NEGOCIACIONCB AS NEG WITH (NOLOCK)
				INNER JOIN (SELECT
						NRG.TM15NDEUID
					   ,MAX(NRG.TT02DNEGREG) AS TT02DNEGREG_ULT
					FROM TT_NEGOCIACIONCB AS NRG WITH (NOLOCK)
					GROUP BY NRG.TM15NDEUID) AS ULTNEG
					ON NEG.TM15NDEUID = ULTNEG.TM15NDEUID
					AND NEG.TT02DNEGREG = ULTNEG.TT02DNEGREG_ULT
				INNER JOIN TM_GENERALCB AS SITNE WITH (NOLOCK)
					ON SITNE.TG01NGENID = NEG.TG01NNEGSIT
				WHERE NEG.TM15NDEUID = DE.TM15NDEUID
				AND SITNE.TG01SGENNOM IN ('TIP_STNEG_VIG', 'TIP_STNEG_CAN', 'TIP_STNEG_ANU_RNG', 'TIP_STNEG_ANU_RET', 'TIP_STNEG_ANU_RET', 'TIP_STNEG_ANU_VTA'))
			, '') AS TG01SGENDES_SIT_NEG
			, (SELECT
							COUNT(GEST.TT01NGESID) AS INTENSIDAD
						FROM COBTT01 AS GEST WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
						INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
							ON ARC.TG01NGENACCID = GEST.TG01NACCID
							AND ARC.TG01NGENREACID = GEST.TG01NREAID
							AND ARC.TG01NGENCONTID = GEST.TG01NCTCID
						INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
							ON REAC.TG01NGENID = GEST.TG01NREAID
						WHERE GEST.TM08NCLIID = DE.TM08NCLIID
						AND CONVERT(DATE, GEST.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE}
						AND CONVERT(DATE, GEST.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE})
					AS INTENSIDAD
				   ,(SELECT
							COUNT(DISTINCT CONVERT(DATE, GEST.TT01DGESREG)) AS FRECUENCIA
						FROM COBTT01 AS GEST WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
						INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
							ON ARC.TG01NGENACCID = GEST.TG01NACCID
							AND ARC.TG01NGENREACID = GEST.TG01NREAID
							AND ARC.TG01NGENCONTID = GEST.TG01NCTCID
						INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
							ON REAC.TG01NGENID = GEST.TG01NREAID
						WHERE GEST.TM08NCLIID = DE.TM08NCLIID
						AND CONVERT(DATE, GEST.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE}
						AND CONVERT(DATE, GEST.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE})
					AS FRECUENCIA
		FROM TMP_ASIGNACION_MG_CNTSEC AS ASGN WITH (NOLOCK, INDEX ([INDX_TMPASIGNACION_DOC]))
		INNER JOIN TM_DEUDACB AS DE WITH (NOLOCK)
			ON DE.TM15NDEUOPE = ASGN.VOPERACION
		INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
			ON MON.TG01NGENID = DE.TG01NMONID
		INNER JOIN TM_COSECHASCB AS CO WITH (NOLOCK)
			ON CO.TM07NCOSID = DE.TM07NCOSID
		INNER JOIN TT_GESTIONCB AS TT WITH (NOLOCK, INDEX ([COBTT01_TM08NCLIID]))
			ON TT.TM08NCLIID = DE.TM08NCLIID
				AND TT.TM15NDEUID = DE.TM15NDEUID
		INNER JOIN TM_GENERALCB AS REAC WITH (NOLOCK)
			ON REAC.TG01NGENID = TT.TG01NREAID
		INNER JOIN TM_GENERALCB AS CONT WITH (NOLOCK)
			ON CONT.TG01NGENID = TT.TG01NCTCID
		INNER JOIN TM_GENERALREFCB AS REFCON WITH (NOLOCK)
			ON REFCON.TG01NGENREF = CONT.TG01NGENID
		INNER JOIN TM_GENERALCB AS CONTTIP WITH (NOLOCK)
			ON CONTTIP.TG01NGENID = REFCON.TG01NGENID
		INNER JOIN TM_USUARIOSC AS USUGEST WITH (NOLOCK)
			ON USUGEST.TM05NUSRID = TT.TM05NUSRREG
		LEFT JOIN TM_CLIENTE_CONTACTOCB AS CONTEL WITH (NOLOCK)
			ON CONTEL.TM09NCLIID = TT.TM09NTELID
		LEFT JOIN TM_CAMPANACB AS CAM WITH (NOLOCK)
			ON CAM.TM16NCPNID = DE.TM16NCPNID
		INNER JOIN TM_ACCION_REACCION_CONTACTO AS ARC WITH (NOLOCK)
			ON ARC.TG01NGENACCID = TT.TG01NACCID
				AND ARC.TG01NGENREACID = TT.TG01NREAID
				AND ARC.TG01NGENCONTID = TT.TG01NCTCID
		LEFT JOIN (SELECT
				PAGDEU.TM15NDEUID
			   ,SUM(PAGDEU.TT03NMONTOPAGO) AS TT03NMONTOTOTPAGO
			FROM (SELECT
					D.TM15NDEUID
				   ,CASE
						WHEN MONPAG.TG01SGENNOM = 'TIP_MON_DOL' THEN (PP.TT03NPAGIMP / ISNULL((SELECT
									TC.DCTIPOCAMBIO
								FROM TMP_TIPOCAMBIOSUNAT AS TC WITH (NOLOCK)
								WHERE TC.VANOMES = CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112))
							, 3.2))
						ELSE PP.TT03NPAGIMP
					END TT03NMONTOPAGO
				FROM TM_DEUDACB AS D WITH (NOLOCK)
				INNER JOIN TT_PAGOCB AS PP WITH (NOLOCK)
					ON D.TM15NDEUID = PP.TM15NDEUID
				INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
					ON MON.TG01NGENID = D.TG01NMONID
				INNER JOIN TM_GENERALCB AS MONPAG WITH (NOLOCK)
					ON MONPAG.TG01NGENID = PP.TG01NMONID
				WHERE MON.TG01SGENNOM = 'TIP_MON_SOL'
				AND PP.TG01NPAGEST = 3
				AND CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112) = CONVERT(VARCHAR(6), GETDATE(), 112)
				UNION ALL
				SELECT
					D.TM15NDEUID
				   ,CASE
						WHEN MONPAG.TG01SGENNOM = 'TIP_MON_SOL' THEN (PP.TT03NPAGIMP * ISNULL((SELECT
									TC.DCTIPOCAMBIO
								FROM TMP_TIPOCAMBIOSUNAT AS TC WITH (NOLOCK)
								WHERE TC.VANOMES = CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112))
							, 3.2))
						ELSE PP.TT03NPAGIMP
					END TT03NMONTOPAGO
				FROM TM_DEUDACB AS D WITH (NOLOCK)
				INNER JOIN TT_PAGOCB AS PP WITH (NOLOCK)
					ON D.TM15NDEUID = PP.TM15NDEUID
				INNER JOIN TM_GENERALCB AS MON WITH (NOLOCK)
					ON MON.TG01NGENID = D.TG01NMONID
				INNER JOIN TM_GENERALCB AS MONPAG WITH (NOLOCK)
					ON MONPAG.TG01NGENID = PP.TG01NMONID
				WHERE MON.TG01SGENNOM = 'TIP_MON_DOL'
				AND CONVERT(VARCHAR(6), PP.TT03DPAGFEC, 112) = CONVERT(VARCHAR(6), GETDATE(), 112)
				AND PP.TG01NPAGEST = 3) AS PAGDEU
			GROUP BY PAGDEU.TM15NDEUID) AS PAGD
			ON PAGD.TM15NDEUID = DE.TM15NDEUID
		WHERE REAC.TG01SGENNOM IN ('TIP_REA_CIPRE', 'TIP_REA_CITEL')
		AND DE.TG01NDEUSIT = (SELECT
				TG01NGENID
			FROM TM_GENERALCB
			WHERE TG01SGENNOM = 'TIP_SIT_VIG')
		AND CONVERT(DATE,TT.TT01DGESREG) &gt;= #{fechaIniGest,jdbcType=DATE} AND CONVERT(DATE,TT.TT01DGESREG) &lt;= #{fechaFinGest,jdbcType=DATE}
		 
	</select>
	<select id="selectByCitasTel" resultType="com.appreportesconecta.domain.TT_CitasTelPre" statementType="CALLABLE" parameterType="com.appreportesconecta.bean.TT_Citas" >
	{
	CALL report_base_citasTelefonicas( #{fechaIniGest}, #{fechaFinGest} , #{usuario} )
	}
</select>
	
	
</mapper>